:root {
  --main-content: #213547;
  --sec-content: #5c6a6f;
  --hover-bg: rgb(235, 235, 235);
  --hover-bg-darker: rgb(100, 225, 225);
  --error: rgb(255, 104, 104);
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--main-content);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.hover:hover {
  background-color: var(--hover-bg);
}

body {
  margin: 0;
  min-width: 320px;
  max-width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

.hidden {
  display: none;
}

.portal {
  position: absolute;
  animation: fadein 200ms linear;
  z-index: 5;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.2);
}

@keyframes fadein {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.portal-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.page {
  margin: auto;
  width: 1024px;
}

.page-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.page-header > h1 {
  font-size: 2.2em;
}

.btn-secondary {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: var(--hover-bg);
}

.btn-secondary > span {
  color: var(--sec-content);
  font-size: 16px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
}

select {
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  border: none;
  color: var(--sec-content);
}

select:hover {
  background-color: var(--hover-bg);
}